body{
    background-color: lightyellow
}

p{
    font-family: "comic-sans"
}

#gradient{
    gradient.solid{border-style: solid;}
    border-width: 10px;
    border-color: sandybrown;
    background-color: rgb(250, 189, 135) ;
}